.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(1, 7, 7);
    max-width: 100%;
    width: 100vw;
    position:absolute;
    top: 0;
    left: 0;
    height: 156px;
    justify-content: space-between;
   
}

.header {
    
    height: 100px;
    width: 250px;
    position: relative;
    left: 80px;
    top: 20px;

    
}

h2 {
    position: relative;
    top: 20px;
    font-size: 38px;
 
    
}

.buscador {
    position: relative;
 
   
    height: 100px;
    width: 550px;
    top: 20px;
}

.search {
    border-radius: 50px;
    font-size: 25px;
    position: relative;
    left: 100px;
    top: 35px;
    width: 440px;
    height: 43px;
    background-color: rgba(224, 224, 224, 0.904);
    color: black;
}

.boton {
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    right: -40px;
    top: 25px;
    height: 30px;
    width: 55px;
    

}


.Lupa {
    height: 35px;
    width: 55px;
    position: relative;
    top: 42px;
    right: 15px;
    border-radius: 20px;
    cursor: pointer;

}

.divcart {
    width: 200px;
    position: relative;
    left: -30px;
    
    
}

.carty {
height: 120px;
width: 100px;
position: relative;
right: 5px;
bottom: 110px;
border-radius: 50px;
cursor: pointer;
z-index: 2;

}

.boton2 {
    position:relative;
    left: 5px;
    top: 10px;
    height: 130px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: -1px -4px 20px 20px rgba(0, 247, 82, 0.781);
    z-index: 1;
 
}

.counter {
    background-color: rgb(255, 0, 0);
    position: relative;
    left: 130px;
    top: 58px;
    z-index: 3;
    border-radius: 50px;
    font-size: 25px;
    

}


/* Header.module.css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    background-color: rgba(240, 20, 20, 0.7);
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #007BFF;
}