.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 900px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 25px;
}

.navbar a:hover {
    color: #da1111;
}

.nav {
    font-size: 20px;
}
header {
    background-color: #111010;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: -1px -4px 20px 20px rgb(255, 60, 0);
    display: flex;
    justify-content: space-between;
  }

  .carritobtn {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #797e8a;
    color: rgb(243, 242, 242);
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }

  .carritobtn:hover,
  .carritobtn:active {
  background-color: #7c1212;
}

.imgcompras{
    width: 4.35rem;
    height: 4.35rem;
    margin-right: 0.5rem;
}
  .cantidadcarrito {
    position: relative;
    right: 10px;
    top: 25px;
    background-color: #070be7;
    padding: 0.25rem 1rem;
    border-radius: 25px;
  }
  


  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
  }

  .modalContent {
    background-color: #b1adad;
    padding: 20px;
    border-radius: 10px;
    width: 800px;
    max-width: 800px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slideIn 0.5s;
    max-height: 80vh; 
    overflow-y: auto;
    text-align: center;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideIn {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  .closecart {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .closecart:hover {
    background-color: #294d2b;
  }

  .finishbuy {
    background-color: #c98609; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .finishbuy:hover {
    background-color: #d61b1b;
  }